p {
	color: #012233;
  font-family: Helvetica, Arial, sans-serif;
	width: 80%;
}

h1 {
  	font-family: 'VT323', monospace;
		font-size: 5em;
		text-align: center;
		color: #A30DA6;
}

h3 {
	font-family: "Courier New", Courier, serif;
	text-align: center;
	color: #A30DA6;
}

#container {
	width: 95%;
	margin: 0 auto;
}

#nav {
	padding: 0;
}

#nav li {
  margin: 0;
  padding: 0;
	list-style-type: none;
	border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
	display: block;
	color: #ffffff;
	background-color: #38208C;
	font-weight: bolder;
	text-align: center;
	text-decoration: none;
	padding: 8px;
	margin-right: 5px;
	margin-left: 5px;
	font-family: "Courier New", Courier, serif;
}

#nav a:hover, #nav a:active {
	background-color: #A30DA6;
}

#page {
	padding: 5%;
	background-color: #04BFBF;
}

img {
	border: none;
}

.caption {
	color: #012233;
	font-family: "Courier New", Courier, serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top: 0;
	text-align: right;
}

#footer {
	color: #012233;
	font-family: "Courier New", Courier, serif;
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
}
