html {
	font-size: 100%;
}

.meat {
	font-family:"Poppins", sans-serif;
}

.title {
	font-family:"Press Start 2P", sans-serif;
	font-size: 3em;
	text-align: center;
	color: #A30DA6;
}

.nav a:link, .nav a:visited {
	display: block;
	color: #ffffff;
	background-color: #38208C;
	font-weight: bolder;
	text-align: center;
	padding: 8px;
	font-family: "Courier New", sans-serif;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

.nav a:hover, #nav a:active {
	background-color: #A30DA6;
}

#page {
	background-color: #04BFBF;
	display: grid;
	grid-template-rows: 150px min-content min-content 1fr;
	grid-template-columns: 20em 1fr;
}

img {
	border: none;
	display: block;
}

.image {
	display: block;
	grid-column: 2;
	padding: 2em;
}

.caption {
	color: #ffffff;
	font-family: "Courier New", sans-serif;
	font-style: italic;
	font-size: 1rem;
	margin-top: 0;
	text-align: right;
}

#footer {
	color: #012233;
	font-family: "Courier New", sans-serif;
	font-style: italic;
	font-size: 0.8em;
	text-align: center;
}

.italic {
	font-style: italic;
}

.nav {
	display: flex;
	flex-flow: column;
	list-style-type: none;
	grid-column: 1;
	padding: 2em;
}

.paras {
	grid-column: 2;
	padding: 2em;
}

@media screen and (max-width: 600px) {
	#page {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
	}

	.nav {
		width: 80%;
		grid-column: 1;
	}

img {
	width: 90%;
}

	.caption {
		width: 90%;
	}

	.paras {
		grid-column: 1;
		max-width: 90%;
	}

	.image {
		display: block;
		grid-column: 1;
		padding: 2em;
	}

}

@media screen and (max-width: 1000px) {
	#page {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
	}

	.nav {
		width: 80%;
		grid-column: 1;
	}

img {
	width: 90%;
}

	.caption {
		width: 90%;
	}

	.paras {
		grid-column: 1;
		max-width: 90%;
	}

	.image {
		display: block;
		grid-column: 1;
		padding: 2em;
	}

}
