p {
	color: #666666;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
		text-align: center;
		color: blue;
}

p {
	color:#cc3300
}

div {
	  width: 300px;
	  border: 15px blue;
	  padding: 50px;
	  margin: 20px;
}
